<div class="container">
    <header class="jumbotron">
        <h1 class="display-3">
                <strong>{{currentStudent.name}}</strong>, Welcome to university app
        </h1>

    </header>
    <div class="field-container">
        <div class="card">
            <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">All Student's Fields</h3>

                        </div>

                    </div>
                    <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"> Field name</th>
                                        <th scope="col">Instructor</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of fieldList; let i = index">
                                            <th scope="row">{{i}}</th>
                                            <td>{{item.name}}</td>
                                            <td>{{item.instructor.name}}</td>
                                         
                                    </tr>

                                </tbody>
                            </table>
                    </div>
            </div>
            
        </div>

    </div>

</div>
