<div class="container">
    <div class="card card-container">
        <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" id="profile-img" class="profile-img-card"/>
        <form name="form-signin"(ngSubmit)="f.form.valid &&login()" #f="ngForm" novalidate>
            <div class="alert alert-danger" role="alert"*ngIf="errorMessage">
                {{errorMessage}}

            </div>

            <div class="form-group" [ngClass]="{'has-error': f.submitted && !username.valid}">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control input-text-custom" id="username"[(ngModel)]="user.username" #username="ngModel" required />
            </div>
            <div class="alert alert-danger" *ngIf="f.submitted&&!username.valid">
                Username is required.

            </div>

            <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control input-text-custom" id="password"[(ngModel)]="user.password" #password="ngModel" required />
            </div>
            <div class="alert alert-danger" *ngIf="f.submitted&&!username.valid">
                Password is required.

            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin form-submit-button">Sing in</button>

        </form>
        <a [routerLink]="['/register']" class="btn btn-link">Create new account!</a>

    </div>

</div>